html {
    background-color: #fdf0d5;
}

h1, a{
    display: block;
    text-align: center;
}

h1 {
    background-color: #c1121f;
    color: #fff;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid#c1121f;
    border-radius: 20px; 
}

#odin {
    width: 10%;
    border: none;
}